.v 
{
animation-fill-mode: forwards;
}
#bolinha
{
background-color: red;
border: black 1px;
width: 90px;
height: 90px; 
position: absolute;
border-radius: 100%;
left: 90px;
top: 90px;  
animation-name: bola; 
animation-duration: 13s;      
}

#q1
{
background-color: rgb(12, 116, 3);
border: black 1px;
width: 90px;
height: 90px; 
position: absolute;
border-radius: 10%;
left: 90px;
top: 185px;   
animation-name: q1;     
animation-duration: 4s;
}
#q2
{
background-color: rgb(12, 116, 3);
border: black 1px;
width: 90px;
height: 90px; 
position: absolute;
border-radius: 10%;
left: 90px;
top: 280px; 
animation-name: q2;
animation-duration: 5s;       
}
#q3
{
background-color: rgb(12, 116, 3);
border: black 1px;
width: 90px;
height: 90px; 
position: absolute;
border-radius: 10%;
left: 90px;
top: 375px; 
animation-name: q3;   
animation-duration: 6s;      
}
#q4
{
background-color: rgb(12, 116, 3);
border: black 1px;
width: 90px;
height: 90px; 
position: absolute;
border-radius: 10%;
left: 185px;
top: 90px; 
animation-name: q4;   
animation-duration: 7s;      
}
#q5
{
background-color: rgb(12, 116, 3);
border: black 1px;
width: 90px;
height: 90px; 
position: absolute;
border-radius: 10%;
left: 185px;
top: 185px;   
animation-name: q5; 
animation-duration: 8s;      
}
#q6
{
background-color: rgb(12, 116, 3);
border: black 1px;
width: 90px;
height: 90px; 
position: absolute;
border-radius: 10%;
left: 185px;
top: 280px;      
animation-name: q6; 
animation-duration: 9s;  
}
#q7
{
background-color: rgb(12, 116, 3);
border: black 1px;
width: 90px;
height: 90px; 
position: absolute;
border-radius: 10%;
left: 185px;
top: 375px;      
animation-name: q7; 
animation-duration: 10s; 
}
#q8
{
background-color: rgb(12, 116, 3);
border: black 1px;
width: 90px;
height: 90px; 
position: absolute;
border-radius: 10%;
left: 280px;
top: 90px;    
animation-name: q8; 
animation-duration: 10s;     
}
#q9
{
background-color: rgb(12, 116, 3);
border: black 1px;
width: 90px;
height: 90px; 
position: absolute;
border-radius: 10%;
left: 280px;
top: 280px;  
animation-name: q9;  
animation-duration: 11s;     
}
body
{
   background-color: blueviolet;
   animation-name: body;
   animation-duration: 13s;
   animation-fill-mode: forwards;
}
#t1 
{
    position: absolute;
    left: 43%;
    top: 10px;
    animation-name: t1;
    animation-duration: 13s;
}
#t2 
{
    position: absolute;
    left: 46%;
    top: 50px;
    animation-name: t1;
    animation-duration: 13s;
}
@keyframes bola
{
    0%   {background-color:rgb(98, 0, 255); left:90px; top:90px;}
    25%  {background-color:rgb(0, 255, 128); left:93%; top:0px;}
    50%  {background-color:rgb(229, 255, 0); left:1%; top:90%;}
    75%  {background-color:rgb(9, 0, 128); left:0px; top: 0px;}
    100% {background-color:red; left: 42%; top:200px;}
}
@keyframes q1
{
    0%   {background-color:rgb(229, 255, 0); left:90px; top:90px;}
    25%  {background-color:rgb(0, 255, 242); left:93%; top:0px;}
    50%  {background-color:rgb(0, 255, 85); left:1%; top:90%;}
    75%  {background-color:rgb(0, 140, 255); left:0px; top: 0px;}
    100% {background-color:green; left: 42%; top:295px;}
}
@keyframes q2
{
    0%   {background-color:rgb(255, 0, 0); left:90px; top:90px;}
    25%  {background-color:rgb(255, 0, 179); left:93%; top:0px;}
    50%  {background-color:rgb(183, 0, 255); left:1%; top:90%;}
    75%  {background-color:rgb(76, 0, 255); left:0px; top: 0px;}
    100% {background-color:green; left: 42%; top:390px;}
}
@keyframes q3
{
    0%   {background-color:rgb(21, 255, 0); left:90px; top:90px;}
    25%  {background-color:yellow; left:93%; top:0px;}
    50%  {background-color:rgb(255, 0, 0); left:1%; top:90%;}
    75%  {background-color:rgb(255, 166, 0); left:0px; top: 0px;}
    100% {background-color:green; left: 42%; top:485px;}
}
@keyframes q4
{
    0%   {background-color:rgb(0, 26, 255); left:90px; top:90px;}
    25%  {background-color:rgb(255, 0, 234); left:93%; top:0px;}
    50%  {background-color:rgba(255, 17, 0, 0.164); left:1%; top:90%;}
    75%  {background-color:rgb(255, 0, 106); left:0px; top: 0px;}
    100% {background-color:green; left: 48.5%; top:200px;}
}
@keyframes q5
{
    0%   {background-color:rgba(30, 255, 0, 0.692); left:90px; top:90px;}
    25%  {background-color:rgb(255, 0, 140); left:93%; top:0px;}
    50%  {background-color:rgb(0, 225, 255); left:1%; top:90%;}
    75%  {background-color:rgb(145, 255, 0); left:0px; top: 0px;}
    100% {background-color:green; left: 48.5%; top:295px;}
}
@keyframes q6
{
    0%   {background-color:rgb(132, 0, 255); left:90px; top:90px;}
    25%  {background-color:rgb(0, 47, 255); left:93%; top:0px;}
    50%  {background-color:rgb(255, 0, 13); left:1%; top:90%;}
    75%  {background-color:rgb(0, 255, 21); left:0px; top: 0px;}
    100% {background-color:green; left: 48.5%; top:390px;}
}
@keyframes q7
{
    0%   {background-color:rgb(68, 0, 255); left:90px; top:90px;}
    25%  {background-color:rgb(255, 0, 0); left:93%; top:0px;}
    50%  {background-color:rgb(255, 8, 0); left:1%; top:90%;}
    75%  {background-color:red; left:0px; top: 0px;}
    100% {background-color:green; left: 48.5%; top:485px;}
}
@keyframes q8
{
    0%   {background-color:red; left:90px; top:90px;}
    25%  {background-color:rgb(55, 0, 255); left:93%; top:0px;}
    50%  {background-color:rgb(115, 255, 0); left:1%; top:90%;}
    75%  {background-color:rgba(255, 0, 221, 0.37); left:0px; top: 0px;}
    100% {background-color:green; left: 54.95%; top:200px;}
}
@keyframes q9
{
    0%   {background-color:red; left:90px; top:90px;}
    25%  {background-color:yellow; left:93%; top:0px;}
    50%  {background-color:blue; left:1%; top:90%;}
    75%  {background-color:red; left:0px; top: 0px;}
    100% {background-color:green; left: 54.95%; top:390px;}
}
@keyframes body
{
0%  {background-color: blueviolet;}
100% {background-color: white;}
}

@keyframes t1
{
    0% {color: blueviolet;}
    100% {color: black;}
}
