*
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url('banner2.jpg');
    background-size: 100%; 
    background-repeat: no-repeat; 
    
}
.containerlog
{
    margin-left: 30%;
}
.fonte1
{
    
    margin-left: 30%;
    color: aliceblue;
    font-family: fantasy;
}
.fonte2
{
    margin-top: 80px;
    margin-left: 19.2%;
    color: aliceblue;
    font-family: fantasy;    
}
.bet
{
    color: brown;
    font-family: fantasy; 
}
.bet2
{
    color: brown;
    font-family: fantasy; 
    font-family: 'Lobster', sans-serif;
}
#branco
{
    font-family: fantasy;
    color: aliceblue;
}

.slogan
{
    font-family: 'Lobster', sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 56px;
    
}
.dvslogan
{
    position: absolute;
    width: 300px;
    height: 80px;
    position: absolute;
    right: 250px;
    
}
#buttom 
{
    margin-top: 3px;
    background-color: aliceblue;
    padding: 3px;
    border-radius: 10px;
}
#buttom:hover 
{
    background-color: brown;
    transition: 0.5s;
    opacity: 0.7;
}

#papai
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: black;
    position: absolute;
    bottom: 27%;
}
#fifi1
{
    border: 5px solid black;
    width: 90px;
    height: 80px;
    background-color: white;
    border-radius: 100%;
    margin: 5px;
}
#fifi1:hover 
{
    background-color: brown;
    transition: 0.5s;
    opacity: 0.7;
}
#fifi2
{
    border: 5px solid black;
    width: 90px;
    height: 80px;
    background-color: white;
    border-radius: 100%;
    margin: 5px;
    
}
#fifi2:hover 
{
    background-color: brown;
    transition: 0.5s;
    opacity: 0.7;

}
#fifi3
{
    border: 5px solid black;
    width: 90px;
    height: 80px;
    background-color: white;
    border-radius: 100%;
    margin: 5px;
}
#fifi3:hover 
{
    background-color: brown;
    transition: 0.5s;
    opacity: 0.7;
}
#txt
{
    margin-top: 17%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    
    
}
.txt
{
    margin-top: 17%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-decoration: none;
    color: black;
}
#txt1
{
    font-size: small;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   
}
#strongcor
{
    color: brown;
}
#txtprin
{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
#divtxt
{
    position: absolute;
    top: 650px;
    left: 18%;
    
}
#txtprin2
{
    font-size: 20px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#if
{
    position: absolute;
    top: 80%;
    left: 0.1%;
}
#if2
{
    position: absolute;
    top: 80%;
    right: 0.1%;
}
