img
{
    position: absolute;
    left: 37%;
    top: 25%;
    border-radius: 1%;
    width: 400px;
    height: 400px;
}
body
{
    background-color: black;
}
.tit
{
    font-family: fantasy;
    color: brown;
    text-align: center;
}